*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-image: url("/img/background1.jpg");
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: block;
    text-align: center;
}
.search-title {
    color: rgb(5, 131, 249);
    font-size: 50px;
    text-decoration: underline;
}

#search-input {
    font-size: xx-large;
    background-color: rgb(16, 12, 2);
    color: white;
    border-radius: 5px;
    border: 5px solid white;
}

#search,
#clearhist {
    background-color: red;
    font-size: larger;
    font-weight: bold;
    color: rgb(238, 245, 238);
    border: 2px solid rgb(11, 203, 251);
    border-radius: 5px;
    padding: .5%;
    margin: 2%;
    cursor: pointer;
}

main {
    display: block;
    color: white;

}

#results-left {
    float: left;
}

#results-right {
    float: right;
}

#search-box {
    color: white;
    font-weight: bold;
    font-size: larger;
}

#recent-search-items, a {
    margin: 5px;
    padding: 5px;
    color: red;
    text-decoration: underline;
    font-style: italic;
    font-size: larger;
    cursor: pointer;
}

.gridContainer{
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.test {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}


/*
#ytDiv{
    border: white solid 3px;
 width: fit-content;
}
*/